<div class="container mt-5">
<div class="question border-start border-5">
  <p><strong><%= @question %></strong></p>
  <p class="fst-italic">-You</p>
</div>
<div class="answer border-start border-5">
  <p><strong><%= @answer %></strong></p>
  <p class="fst-italic">-Your coach</p>
</div>
<p><%= link_to "Ask new question", ask_path %></p>
</div>
